---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full">🧑‍🚀 Hello, Astronaut!</h1>
        <p class="w-full text-justify text-base md:text-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi officia
          neque eligendi nulla impedit error, consequuntur aspernatur autem id
          pariatur tenetur quod.
        </p>
      </div>
      <div class="w-full flex flex-col items-center gap-2.5 px-4 lg:px-0 mt-6">
        <img
          src="https://images.unsplash.com/photo-1635627408144-6bf36d28fb98"
          alt="Astronaut"
        />
        <p class="italic text-xs text-gray-600 dark:text-neutral-400">
          Foto de <a
            href="https://unsplash.com/es/@niklasjonasson?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >Niklas Jonasson</a
          > en <a
            href="https://unsplash.com/es/fotos/un-cuerpo-de-agua-con-arboles-en-el-fondo-j_WW0u2yYAE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >Unsplash</a
          >
        </p>
      </div>
	  <RecentPublications />
	      </main>
    <Footer />
  </body>
</html>

